﻿@model VibratoBlogTest.Models.PostViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.IsSignedIn)
{
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Create">Create New Post</a>
        </div>
    </div>
}

@if (Model.Posts.Count <= 0)
{
    <div class="row">
        <div class="col-md-12">
            No Posts found, sign in to add new posts!
        </div>
    </div>
}

@foreach (var post in Model.Posts)
{
    <div class="row">
        <div class="col-md-12">
            <h2>@Html.DisplayFor(modelItem => post.Title)</h2>
            @Html.Raw(post.Content);
        </div>
    </div>
}
